.choose {
  &__title {
    margin-bottom: rem(90);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(65) rem(170);
  }

  &__item {
    position: relative;
    padding-top: 85px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid var(--color-main);
      border-radius: calc(var(--radius-main) * 2);
      width: 60px;
      height: 60px;
      background-image: url("../img/case.png");
      background-position: center;
      background-size: 23px 20px;
      background-repeat: no-repeat;
    }
  }

  &__item-title {
    margin-bottom: rem(18);
  }
}
