.hero {
  @include flex-s-sb;

  margin-bottom: rem(150);
  padding-top: calc(var(--header-height) * 2);
  padding-left: max(var(--container-offset), calc((100% - 1440px) / 2));

  &__content {
    margin-right: 20px;
    width: 100%;
    max-width: 560px;
  }

  &__animation {
    width: calc(100% - 770px);
    max-width: 900px;
  }

  &__title {
    margin-bottom: rem(50);
    width: 100%;
    max-width: 505px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;

    span {
      display: inline-block;
      font-weight: inherit;
      color: var(--color-main);
    }
  }

  &__action {
    @include flex-v-center;

    margin-bottom: rem(127);

    .btn {
      margin-right: clamp(15px, rem(25), 30px);
    }
  }

  &__review {
    @include flex-all-center;

    font-weight: 500;
    font-size: var(--size);
    color: var(--color-gray-400);
  }

  &__review-picure {
    @include flex-all-center;

    margin-left: 16px;
    border-radius: calc(var(--radius-main) * 2);
    background-color: var(--color-white);
  }

  &__review-img {
    width: 100%;
    max-width: 100px;
  }

  &__numbers {
    @include flex;
  }

  &__number {
    width: 100%;
    max-width: 80px;

    &:not(:last-child) {
      margin-right: rem(85);
    }
  }

  &__number-title {
    font-weight: 900;
    font-size: var(--size-xx);
    line-height: 1;
    color: var(--color-main)
  }

  @include for-width(+desktop-xl) {
    padding-right: max(var(--container-offset), calc((100% - var(--content-width)) / 7));
  }
}
