.apps {
  display: grid;
  grid-template-columns: 120px 90px 120px;
  gap: 0 15px;

  &__exchanges {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 580px;
    gap: 25px 30px;
  }

  &__title {
    display: inline-block;
    margin-bottom: rem(50);
    font-size: var(--size-s);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-black-800);
  }

  &__item {
    &--qr {
      align-self: end;
    }
  }

  &__link {
    @include flex-all-center;

    margin-bottom: 10px;
  }

  .exchange {
    &__item {
      align-self: center;
    }
  }
}
